html {
   margin: 8px;
}

body {
   color: rgb(45, 45, 45);
   text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.2);
}

.title h1, .title p {
   margin-top: 8px;
   margin-bottom: 8px;
}

h2 {
   border-bottom: solid 2px;
}

input, select{
   font-size: 18px;
}

button {
   opacity: 0.8;
   padding: 10px;
   font-size: 20px;
   border: double 4px #66653b;
   width: 100%;
   color: #66653b;
   text-shadow: 1px 1px 1px rgba(30, 30, 30, 0);
}

button:hover{
   animation-name: fadeIn;
   animation-duration: 0.5s;
   opacity: 1;
   text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.2);
}

button:focus {
   outline: none;
}

button:active {
   opacity: 0.5;
}

.calc {
   display: flex;
}

.offence , .defence , .result {
   margin-right: 16px;
   margin-bottom: 16px;
   padding: 16px;
   box-shadow: 0 0 8px rgba(5, 5, 5, 0.5);
}

.offence {
   width: 50%;
}

.offence h2{
   border-bottom-color: #743838;
}

.offence input, .offence select{
   border: solid 2px #743838;
}

.offence input:focus, .offence select:focus{
   outline: none;
   border: solid 2px #ebbebe;
}

.defence {
   width: 50%;
}

.defence h2{
   border-bottom-color: #36506d;
}

.defence input, .defence select{
   border: solid 2px #36506d;
}

.defence input:focus, .defence select:focus {
   outline: none;
   border: solid 2px #a6bfdb;
}

.result {

}

.result h2{
   border-bottom-color: #969624;
}

@media screen and (min-width: 767px) {
   .calc{
      flex-direction: row;
   }
}

@media screen and (max-width: 721px) {
   .calc{
      flex-direction: column;
   }
   .offence , .defence, .result{
      margin-right: 0px;
      width: auto;
   }
}
